{% extends "server_ui/templates/base.html" %}{% load i18n %}

{% block tabs_menu %}
{% include "zeus/_menu_partial.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="columns twelve">
      <h4>{% trans "Resources" %}</h4>

    <ul class="disc">
        <li>{% trans "Election admin guides" %}
        <ul>
          {% for guide in guides.admin %}
          <li><a href="{{ guide.url }}">
                  {{ guide.label }}{% if guide.sublabel %} "{{ guide.sublabel }}"{% endif %}
                </a>
                {% for e in guide.extensions %}
                [<a href="{{ e.url }}">{{ e.label }}</a>]
                {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </li>
        <li>{% trans "Voter guides" %}
        <ul>
          {% for guide in guides.voter %}
          <li><a href="{{ guide.url }}">
                  {{ guide.label }}{% if guide.sublabel %} "{{ guide.sublabel }}"{% endif %}
                </a>
                {% for e in guide.extensions %}
                [<a href="{{ e.url }}">{{ e.label }}</a>]
                {% endfor %}
            </li>
          {% endfor %}
        </ul>
        </li>
        {% if guides.other and guides.other|length %}
          <li>{% trans "Other elections guides" %}
          <ul>
            {% for guide in guides.other %}
            <li><a href="{{ guide.url }}">
                    {{ guide.label }}{% if guide.sublabel %} "{{ guide.sublabel }}"{% endif %}
                  </a>
                  {% for e in guide.extensions %}
                  [<a href="{{ e.url }}">{{ e.label }}</a>]
                  {% endfor %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% block extra_guides %}
        {% endblock %}
    </ul>
  </div>
</div>
{% endblock %}
